/* App.module.css */
.container {
  display: flex;
  height: 100vh; /* Set the container to take up the full viewport height */
}

.map {
  flex: 2;
  padding: 10px;
}

.locationList {
  flex: 1;
  max-height: 100%;
  overflow-y: auto; /* Add overflow to handle scroll if needed */
  padding: 10px;
}

/* Style for each location box */
.locationBox {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
}
